@import "common"

.tags-wrap
  +float-left
  margin: -2px 0 0

.reply
  +float-right
  margin: 0 0 0 5px

.edit
  +float-right

#article-wrap
  border-bottom: 1px dotted #ddd
  padding: 0 0 40px

.comment-wrap
  border-bottom: 1px dotted #ddd
  padding: 0 0 40px

#textarea
  width: 690px

.reply-actions
  text-align: right