@import "compass"
@import "compass/reset"
@import "common/lib"
// You must put a png file in /img/sprite, or the compass won't generate css file, because it can't fint any png to sprite
@import "common/header"
@import "common/footer"

$profile-width: 135px

#search-input
  width: 122px

#search
  +float-right
  padding: 3px 0 0

#new-post
  +float-right

#current-profile-link
  display: block
  width: $profile-width
  line-height: 17px
  &:hover
    text-decoration: none

#current-user:hover
  text-decoration: none

#notify
  text-align: left
  width: $profile-width
  position: absolute
  bottom: 0
  left: 0

#notify-link:hover
  text-decoration: none

#current-user-wrap
  +float-left

#profile-avatar
  +float-left

#user-notify-wrap
  +float-left
  height: 50px
  position: relative

#log-out
  +float-right
  position: relative
  top: -2px

.side-profile
  +clearfix

.profile
  padding: 4px 0 0

#profile-avatar-photo
  padding: 0 5px 0 0

.crumb-link:hover
  text-decoration: none

.avatar
  padding: 0 5px 0 0

.tag
  +float-left
  height: 20px
  background: #e2eaf0
  padding: 1px 5px 0
  margin: 0 7px 0 0

.last-reply-time
  +float-right
  color: #999
  font-weight: bold
  padding: 0 10px 0 0
  margin: -1px 0 0

.tag:hover
  background: #4a6d8c
  color: #e2eaf0
  text-decoration: none

.sidebar-block
  margin: 0 0 10px

.sidebar-title
  padding: 0 0 13px

.sidebar-content
  +clearfix

.all-tag-item
  margin-bottom: 5px

.sidebar-link
  +float-right

.sidebar-link-p
  +clearfix

.issue-title-link:hover
  text-decoration: none

.user
  padding: 0 2px 3px 0

.user:hover
  text-decoration: none

#author
  +float-right

#author:hover
  text-decoration: none

.author
  +float-right

.author:hover
  text-decoration: none

.article-pager
  text-align: center