@import "common"

$code-font: "Lucida Grande"

.article-item
  +clearfix
  padding: 0 0 11px 14px
  border-bottom: 1px dotted #aaa
  margin: 0 0 12px

.item-title
  padding: 0 0 2px

.title-link:hover
  text-decoration: none

.article-nav-list
  +clearfix
  border-bottom: 1px solid #ddd
  margin-left: 0
  margin-bottom: 18px
  list-style: none

.article-nav-item
  +float-left
  padding: 0 2px 0 0

.article-nav-link
  +float-left
  border: 1px solid transparent
  padding: 7px 11px
  line-height: 14px

.article-nav-link:hover
  text-decoration: none
  background: #ddd

#article-nav-selected
  text-decoration: none
  background: #ddd