@import "common"

$code-font: "Lucida Grande"

#page-title
  padding: 0 0 20px

.article-item
  +clearfix
  padding: 0 0 11px 14px
  border-bottom: 1px dotted #aaa
  margin: 0 0 12px

.title-link:hover
  text-decoration: none

.article-nav-list
  border-bottom: 1px solid #ddd
  margin-left: 0
  margin-bottom: 18px
  list-style: none

.article-nav-item
  display: inline

.article-nav-link
  +inline-block
  border: 1px solid transparent
  padding: 9px 12px
  margin-right: 2px
  line-height: 14px

.article-nav-link:hover
  text-decoration: none
  background: #ddd

#article-nav-selected
  text-decoration: none
  background: #ddd