<!-- <ul class="breadcrumb">
  <li>
    <a class="crumb-link" href="/posts.html">Forum</a> <span class="divider">/</span>
  </li>
  <li>
    <a class="crumb-link" href="/posts/tag?name=xxx">Tag</a> <span class="divider">/</span>
  </li>
  <li class="active">
    <a class="crumb-link" href="/article.html">Post Title</a>
  </li>
</ul> -->

<ul class="article-nav-list">
  <li class="article-nav-item"><a class="article-nav-link" href="/posts.html">Posts</a></li>
  <li class="article-nav-item"><a class="article-nav-link" href="/users.html">Users</a></li>
  <li class="article-nav-item"><a class="article-nav-link" href="/tags.html">Tags</a></li>
</ul>