<ul class="breadcrumb">
  <li>
    <a class="crumb-link" href="/posts.html">Forum</a> <span class="divider">/</span>
  </li>
  <li>
    <a class="crumb-link" href="/posts/tag?name=xxx">Tag</a> <span class="divider">/</span>
  </li>
  <li class="active">
    <a class="crumb-link" href="/article.html">Post Title</a>
  </li>
</ul>