<div id="header">
  <header>
    <h1><a href="/index.html" id="logo">Coke - node.js MVC</a></h1>
  </header>
  <nav>
    <ul>
      <li class="nav-item"><a href="#" id="nav-selected" class="nav-link">Home</a></li>
      <li class="nav-item"><a href="#" class="nav-link">Demos</a></li>
      <li class="nav-item"><a href="#" class="nav-link">Docs</a></li>
      <li class="nav-item"><a href="/forum.html" class="nav-link">Forum</a></li>
      <li class="nav-item"><a href="#" class="nav-link">Source</a></li>
    </ul>
  </nav>
</div> <!-- #header -->