<div class="row">
  <div class="span9 profile">
    <form id="search" class="form-search">
      <input type="text" class="input-big search-query">
      <button type="submit" class="btn">Search</button>
    </form>
  </div>
  <div class="span3 profile">
    <a href="#" id="log-out" class="btn btn-inverse">Log out</a>
    <div id="current-user-wrap">
      <div id="profile-avatar"><img id="profile-avatar-photo" src="<%= lorem.image('32x32') %>" alt="Avatar"></div>
      <div id="user-notify-wrap">
        <div id="notify">
          <i id="profile-comment" class="icon-exclamation-sign"></i>
          <a id="notify-link" href="/notifications">12</a>
        </div>
        <a href="/posts/:id" id="current-user"><%= lorem.name %></a>
      </div>
    </div>
  </div>
</div>