<% content_for :head do %>
  <title>Coke - node.js MVC</title>
  <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,700,900' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag "desert" %>
  <%= stylesheet_link_tag "home" %>
<% end %>