<% content_for :head do %>
  <title>Coke - node.js MVC</title>
  <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,700,900' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag "desert" %>
<% end %>
<!-- <div id="original"></div> -->
<div id="header">
  <header>
    <h1><a href="#" id="logo">Coke - node.js MVC</a></h1>
  </header>
  <nav>
    <ul>
      <li class="nav-item"><a href="#" id="nav-selected" class="nav-link" herf="#">Home</a></li>
      <li class="nav-item"><a href="#" class="nav-link" herf="#">Demos</a></li>
      <li class="nav-item"><a href="#" class="nav-link" herf="#">Docs</a></li>
      <li class="nav-item"><a href="#" class="nav-link" herf="#">Forum</a></li>
      <li class="nav-item"><a href="#" class="nav-link" herf="#">Source</a></li>
    </ul>
  </nav>
</div> <!-- #header -->
<h2 id="desc">&ldquo;COKE is a lightweight <a href="#" id="nodejs-link">node.js</a> MVC framework that speeds up your web development. It's simple, it's modularized, it's somking fast!&rdquo;</h2>
<div id="sample-code-bg">
  <div id="sample-code">
    <pre class="prettyprint">
      <code>
      # Quick start
      # Make sure you have installed node.js, mongoDB and npm before you run the folling commands

      $ npm install coke -g
      $ coke new blog && cd blog
      $ coke g scaffold posts title:string content:string

      # Make sure your mongoDB is running

      $ coke s


      # Now go check at http://127.0.0.1:4000 on your favorite browser to see your first coke project
    </code>
    </pre>
    <div id="current-version"># Current version: 0.3.8</div>
  </div> <!-- #sample-code -->
</div> <!-- #sample-code-bg -->
<div class="intro-wrap">
  <div class="intro-block">
    <h3 class="intro-title">Features</h3>
    <p class="intro-content">COKE is built on top of the popular web framework <a class="intro-link" href="#" target="_blank">Express</a>, which means you can use all <a class="intro-link" href="#" target="_blank">middlewares</a> from Express and <a class="intro-link" href="#" target="_blank">Connect</a> directly in COKE. It does not add too many magic, instead it provides a clean and well structured project bootstrap for you. Checkout the <a class="intro-link" href="#" target="_blank">Docs</a> for more details.</p>
  </div>
  <div class="intro-block">
    <h3 class="intro-title">Goal</h3>
    <p class="intro-content">Our goal is to make web development a joy. We want this project to have a smoother learning curve, powerful scaffolding generators for project prototyping, well-formatted project structure to be easier to maintain and of course to be a high-performance  web framework. </p>
  </div>
  <div id="intro-block-last" class="intro-block">
    <h3 class="intro-title">Contribute</h3>
    <p class="intro-content">COKE is still in its early stage and needs your help to extend its functionality and increase its stability. The source code is hosted on <a class="intro-link" href="#" target="_blank">Github</a>, you can help us by sending us pull requests, feedback bug reports or translate this project into your language.</p>
  </div>
</div> <!-- #intro-wrap -->
<footer>Powered by <a href="#" id="sublogo">Coke</a> | Sponsored by <a href="#" id="dreamerslab">DreamersLab</a></footer>