<% content_for :head do %>
  <title>Coke - All Tags</title>
  <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,700,900' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag "tags" %>
  <%= stylesheet_link_tag "bootstrap" %>
<% end %>

<div class="span12">
  <h2>All Tags</h2>
  <div id="tags-wrap">
    <ul class="thumbnails">
      <% 15.times do %>
      <li class="span3">
        <a href="/posts-tag-name.html" class="all-tag-item tag"><%= lorem.word %></a>
        <span> x 10</span>
      </li>
      <% end %>
    </ul>
    <div class="pagination article-pager">
      <ul>
        <li><a href="#">Prev</a></li>
        <li class="active">
          <a href="#">1</a>
        </li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">Next</a></li>
      </ul>
    </div>
  </div>
</div>

<% content_for :script do %>
  <%= javascript_include_tag "bootstrap" %>
<% end %>