<% content_for :head do %>
  <title>Coke - Edit Your Profile</title>
  <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,700,900' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag "users-id-edit" %>
  <%= stylesheet_link_tag "bootstrap" %>
<% end %>

<div class="span6 offset3">
  <ul class="thumbnails">
    <li class="span6 well">
      <div id="user-profile-wrap">
        <form class="form-horizontal">
          <fieldset>
            <legend>Your New Bio</legend>
            <div class="control-group">
<!--               <label class="control-label" for="input01">Your New Bio</label> -->
              <div id="bio-wrap" class="controls">
                <textarea id="new-bio" id="input01"></textarea>
                <p class="help-block">Please limit your bio to 140 characters</p>
              </div>
            </div>
            <div class="button-wrap">
              <button type="submit" class="btn btn-primary">Save changes</button>
              <button class="btn">Cancel</button>
            </div>
          </fieldset>
        </form>
      </div>
    </li>
  </ul> <!-- .thumbnails -->
</div> <!-- .span6 .offset3 -->

<% content_for :script do %>
  <%= javascript_include_tag "bootstrap" %>
<% end %>